.App {
  text-align: center;
}

.overlay-text {
  position: relative;
  bottom: 167px;
  width: min-content;
}

.card-experience {
  width: 175px;
  font-size: 12px;
  flex:0 0 auto;
  display: flex;
  flex-direction: column;
}

.image-layout {
  border-radius: 5px!important;
  width: 100%!important;
}

.title-reposition {
  margin-top: 18px;
}
