.App {
  text-align: center;
}

.overlay-text {
  position: relative;
  bottom: 192px;
  width: min-content;
}

.card-layout {
  margin-right: 10px;
}

.image-layout {
  border-radius: 5px;
  height: 200px;
  width: min-content;
}

.title-reposition {
  margin-top: 18px;
}
